.events {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/assets/events-bg.png');
    background-position: center;
    background-size: cover;
    padding-top: 5vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    display: none;
    opacity: 0;
    transition: 0.5s;
}

.events-heading {
    height: 15vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-heading span {
    color: white;
    font-size: 5em;
    font-family: "Ikaros-Sans";
    letter-spacing: 5px;
    position: relative;
}

.events-heading span::after {
    position: absolute;
    right: 2.5%;
    bottom: 0;
    content: "";
    height: 2px;
    width: 20%;
    border-bottom: 2px solid #768ad9;
}

.events-wrapper {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}

.events-container {
    width: 100vw;
    height: calc(30vw + 76px);
    padding: 76px 12.5%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s ease-out;
}

.event-arrow {
    height: 4.5vw;
    width: 2.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/icons/events-arrow.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.event-arrow:nth-of-type(1) {
    transform: translateY(-50%) rotateY(180deg);
    left: 5%;
}

.event-arrow:nth-of-type(2) {
    right: 5%;
}

.events-container .events-card {
    width: 20.33%;
    min-width: 20.33%;
    margin: 0 6.5%;
    height: 22.5vw;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(#393636, #1F1F1F);
    transition: 0.5s ease-out;
}

.events-container .events-card.active {
    transform: scale(1.2);
}

.events-container .events-card .events-card-front {
    width: 95%;
    height: 95%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
    border: 2px solid #9A6D9A;
}

.events-container .events-card .events-card-front .event-name {
    font-family: "ikaros";
    font-size: 2rem;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
}

.events-container .events-card .events-card-front .event-img {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    border: 7.5px solid #9A6D9A;
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.events-container .events-card .events-card-front .event-link {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    font-family: "ikaros";
}

.events-nav-dots {
    text-align: center;
}

.events-nav-dots .event-nav-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s ease-out;
    background: #ffffff
}

.events-nav-dots .active-dot {
    width: 40px;
    border-radius: 7px;
}

@media (max-width: 600px) {
    .events-heading {
        justify-content: center;
        padding-right: 0;
    }
    .events-heading span {
        font-size: 2.5em;
    }

    .events-wrapper {
        width: 70%;
    }

    .events-container {
        height: 65vh;
        padding: 0;
        width: 100%;
    }

    .events-container .events-card {
        width: 80%;
        min-width: 80%;
        margin: 0 10%;
        height: 70%;
    }

    .events-container .events-card .events-card-front .event-img {
        height: 30vw;
        width: 30vw;
    }

    .event-arrow {
        height: 10vw;
        width: 6vw;
    }
}


@keyframes shakeEvents {
    0% {
        transform: translate(1px, 1px) rotate(0deg) scale(1.2);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg) scale(1.2);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg) scale(1.2);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg) scale(1.2);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg) scale(1.2);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg) scale(1.2);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg) scale(1.2);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg) scale(1.2);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg) scale(1.2);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg) scale(1.2);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg) scale(1.2);
    }
}
