@font-face {
    font-family: "Ikaros-Sans";
    src: url("../fonts/IR.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #000000;
    color: #FFFFFF;
    position: relative;
}
.opacity {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}
.wrapper {
    background-color: #000000;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 20px 40px 100px 60px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px;
    grid-template-columns: 7vw 3vw 2vw 16vw 20px 18vw 20px 18vw 20px 10vw 10vw 2vw 8vw;
}
.insta {
    width: 14px;
}
.logo {
    font-family: Ikaros-Sans;
    font-size: 31px;
    letter-spacing: 0.06px;
    color: #FFFFFF;
    text-transform: uppercase;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}
.reg {
    grid-row-start: 2;
    grid-column-start: 11;
    grid-column-end: 14;
    display: flex;
}
.reg-button {
    width: 139px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    letter-spacing: 1.62px;
    font-family: Ikaros-Sans;
    background: #0099F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #077BFFB3;
    border-radius: 58px;
    cursor: pointer;
}
.reg-button a {
    text-decoration: none;
    color: #ffffff;
}
.fas {
    cursor: pointer;
    grid-row-start: 2;
    grid-column-start: 2;
    font-size: 30px;
}
.fab {
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    background-color: #707070;
    color: #000000;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.heading {
    grid-row-start: 3;
    grid-column-end: 12;
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Ikaros-Sans;
    font-size: 72px;
    letter-spacing: 0.14px;
}
.line {
    grid-row-start: 4;
    grid-column-end: 9;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    width: 180px;
    margin-left: -60px;
    height: 4px;
    background-color: #FFFFFF;
}
.gallery {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
.gallery-1 {
    background-image: url('../images/gallery/20.jpg');
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 7;
}
.gallery-2 {
    background-image: url('../images/gallery/2.jpg');
    grid-column-start: 8;
    grid-row-start: 5;
}
.gallery-3 {
    background-image: url('../images/gallery/21.jpg');
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 5;
}
.gallery-4 {
    background-image: url('../images/gallery/22.jpg');
    grid-column-start: 8;
    grid-row-start: 7;
}
.gallery-5 {
    background-image: url('../images/gallery/23.jpg');
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 7;
}
.gallery-6 {
    background-image: url('../images/gallery/6.jpg');
    grid-row-start: 9;
    grid-column-start: 4;
}
.gallery-7 {
    background-image: url('../images/gallery/7.jpg');
    grid-row-start: 9;
    grid-column-start: 6;
}
.gallery-8 {
    background-image: url('../images/gallery/8.jpg');
    grid-row-start: 9;
    grid-column-start: 8;
}
.gallery-9 {
    background-image: url('../images/gallery/9.jpg');
    grid-row-start: 9;
    grid-column-start: 10;
    grid-column-end: 12;
}
.gallery-10 {
    background-image: url('../images/gallery/10.jpg');
    grid-row-start: 11;
    grid-column-start: 4;
}
.gallery-11 {
    background-image: url('../images/gallery/11.jpg');
    grid-row-start: 11;
    grid-column-start: 6;
}
.gallery-12 {
    background-image: url('../images/gallery/26.jpg');
    grid-row-start: 11;
    grid-row-end: 14;
    grid-column-start: 8;
    grid-column-end: 12;
}
.gallery-13 {
    background-image: url('../images/gallery/13.jpg');
    grid-row-start: 13;
    grid-column-start: 4;
}
.gallery-14 {
    background-image: url('../images/gallery/24.jpg');
    grid-row-start: 13;
    grid-column-start: 6;
}
.gallery-15 {
    background-image: url('../images/gallery/15.jpg');
    grid-row-start: 15;
    grid-column-start: 4;
}
.gallery-16{
    background-image: url('../images/gallery/16.jpg');
    grid-row-start: 15;
    grid-column-start: 6;
}
.gallery-17 {
    background-image: url('../images/gallery/17.jpg');
    grid-row-start: 15;
    grid-column-start: 8;
}
.gallery-18 {
    background-image: url('../images/gallery/12.jpg');
    grid-row-start: 15;
    grid-column-start: 10;
    grid-column-end: 12;
}
.gallery-1:hover, .gallery-2:hover, .gallery-3:hover, .gallery-4:hover, .gallery-5:hover,
.gallery-6:hover, .gallery-7:hover, .gallery-8:hover, .gallery-9:hover, .gallery-10:hover,
.gallery-11:hover, .gallery-12:hover, .gallery-13:hover, .gallery-14:hover, .gallery-15:hover,
.gallery-15:hover, .gallery-16:hover, .gallery-17:hover, .gallery-18:hover {
    transform: scale(1.2);
    z-index: 10;
}

@media(max-width: 1024px) {
    .wrapper {
        grid-template-columns: 5vw 42.5vw 5vw 42.5vw 5vw;
        grid-template-rows: 10vh 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px 20vh 20px;
    }
    .logo {
        display: none;
    }
    .heading{
        grid-row-start: 1;
        grid-column-start: 4;
        grid-column-end: 5;
        font-size: 46px;
        align-items: flex-end;
    }
    .fas {
        grid-row-start: 1;
        grid-column-start: 2;
        font-size: 36px;
        display: flex;
        align-items: center;
        margin-top: 0;
    }
    .line {
        width: 90px;
        height: 3px;
        margin-left: 0;
        margin-right: 15px;
    }
    .gallery-1 {
        background-image: url('../images/gallery/1.jpg');
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        transform-origin: 0%;
    }
    .gallery-2 {
        grid-column-start: 4;
        grid-row-start: 2;
        transform-origin: 100%;
    }
    .gallery-3 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        transform-origin: 100%;
    }
    .gallery-4 {
        grid-column-start: 2;
        grid-row-start: 6;
        transform-origin: 0%;
    }
    .gallery-5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        transform-origin: 0%;
    }
    .gallery-6 {
        background-image: url('../images/gallery/3.jpg');
        grid-row-start: 6;
        grid-row-end: 9;
        grid-column-start: 4;
        transform-origin: 100%;
    }
    .gallery-7 {
        background-image: url('../images/gallery/4.jpg');
        grid-row-start: 10;
        grid-row-end: 13;
        grid-column-start: 2;
        transform-origin: 0%;
    }
    .gallery-8 {
        grid-row-start: 10;
        grid-column-start: 4;
        transform-origin: 100%;
    }
    .gallery-9 {
        grid-row-start: 12;
        grid-column-start: 4;
        grid-column-end: 4;
        transform-origin: 100%;
    }
    .gallery-10 {
        background-image: url('../images/gallery/8.jpg');
        grid-row-start: 14;
        grid-column-start: 2;
        transform-origin: 0%;
    }
    .gallery-11 {
        background-image: url('../images/gallery/5.jpg');
        grid-row-start: 14;
        grid-row-end: 17;
        grid-column-start: 4;
        transform-origin: 100%;
    }
    .gallery-12 {
        grid-row-start: 16;
        grid-row-end: 17;
        grid-column-start: 2;
        grid-column-end: 3;
        transform-origin: 0%;
    }
    .gallery-13 {
        background-image: url('../images/gallery/14.jpg');
        grid-row-start: 18;
        grid-row-end: 21;
        grid-column-start: 2;
        grid-column-end: 3;
        transform-origin: 0%;
    }
    .gallery-14 {
        grid-row-start: 18;
        grid-column-start: 4;
        grid-column-end: 4;
        transform-origin: 100%;
    }
    .gallery-15 {
        grid-row-start: 20;
        grid-column-start: 4;
        grid-column-end: 4;
        transform-origin: 100%;
    }
    .gallery-16 {
        grid-row-start: 22;
        grid-column-start: 2;
        grid-column-end: 3;
        transform-origin: 0%;
    }
    .gallery-17 {
        background-image: url('../images/gallery/10.jpg');
        grid-row-start: 22;
        grid-row-end: 25;
        grid-column-start: 4;
        grid-column-end: 4;
        transform-origin: 100%;
    }
    .gallery-18 {
        grid-row-start: 24;
        grid-column-start: 2;
        grid-column-end: 3;
        transform-origin: 0%;
    }
}
@media(max-width: 576px) {
    .heading {
        font-size: 27px;
    }
    .line {
        width: 70px;
    }
    .fas {
        font-size: 24px;
    }
}