.spons-wrapper {
    height: 94vh;
    padding-bottom: 6vh;
    width: 100%;
    background-color: #ffffff;
    background: url('../images/assets/sponsors.png') no-repeat center center/cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 16;
    transition: 0.5s;
    opacity: 0;
    display: none;
}

.spons-container::-webkit-scrollbar{
    display: none;
}
.spons-heading {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    /* padding-left: 25vw; */
}

.spons-wrapper span {
    color: white;
    font-size: 4rem;
    font-family: "Ikaros-Sans";
    letter-spacing: 5px;
    position: relative;
}

.spons-wrapper .spons-heading span::after {
    position: absolute;
    left: 90%;
    bottom: 0;
    transform: translateX(-50%);
    content: "";
    height: 2px;
    width: 20%;
    border-bottom: 2px solid #768ad9;
}

.spons-container {
    width: 80%;
    height: 78%;
    overflow-y: scroll;
    margin: 0 auto;
}

.sponsor {
    width: 100%;
    margin-bottom: 3vw;
}

.sponsor-heading {
    width: 100%;
    height: 4vw;
    text-align: center;
    font-family: "Ikaros-Sans";
    font-size: 2em;
    text-decoration: underline;
    color: white;
}

.sponsor-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.sponsor-card-container .spons-details {
    width: 21.7vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-card-container .spons-details .name {
    width: 100%;
    font-size: 1.75vw;
    height: 2vw;
    font-family: "Ikaros-Sans";
    text-align: center;
    color: white;
    margin-top: 3vw;
}

.sponsor-card-container img {
    width: 15vw;
}

@media (max-width: 600px) {
    .spons-wrapper {
        height: 100vh;
        padding-bottom: 0vh;
        background: url('../images/assets/sponsors.png') no-repeat center center/cover;
    }
    .spons-heading {
        margin-top: 10vh;
    }
    .spons-wrapper span {
        font-size: 2.5rem;
        text-align: center;
    }
    .spons-wrapper .spons-heading span::after {
        position: absolute;
        left: 87%;
        bottom: 0;
        transform: translateX(-50%);
        content: "";
        height: 2px;
        width: 20%;
        border-bottom: 2px solid #768ad9;
    }
    .spons-container {
        width: 80%;
        height: 66%;
        overflow-y: scroll;
        margin: 0 auto;
    }
    .sponsor {
        width: 100%;
        margin-bottom: 3vw;
    }
    .sponsor-heading {
        height: 3vh;
        font-size: 3vh;
        margin-bottom: 3vh;
    }
    .sponsor-card-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sponsor-card-container .spons-details {
        width: 100%;
        font-size: 4.75vw;
        font-family: "Ikaros-Sans";
        text-align: center;
        height: fit-content;
        margin-bottom: 7vh;
    }
    .sponsor-card-container .spons-details .name {
        width: 100%;
        font-size: 4.75vw;
        font-family: "Ikaros-Sans";
        text-align: center;
        padding-top: 1.5vh;
    }
    .sponsor-card-container img {
        width: 45vw;
    }
}